@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: Arvo;
  margin: 0;
  padding: 0;
}

@layer components {
  .icon {
    @apply h-[26px] w-[26px] mr-2 cursor-pointer;
  }
}
